{% extends 'base_template.html' %}


{% block content %}
<h1>Restaurants</h1>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-text bg-white">
      <i class="bi bi-search"></i>
    </span>
    <input type="search" id="restaurantSearch" class="form-control"
      placeholder="Search restaurant name (Regex supported)" />
  </div>
  <div class="form-text">Supports regex patterns</div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 gx-1 gy-3" id="restaurants"
  hx-get="{% url 'restaurants:restaurant_listing' %}" hx-trigger="load" hx-target="#restaurants">
</div>

{% endblock %}