<div class="pb-3">
  <form class="d-flex flex-wrap gap-2"
        method="post"
        action="{% url 'reservations:select_table' restaurant_id %}">
    {% csrf_token %}
    <div class="input-group w-auto">
      <span class="input-group-text">
        <i class="bi bi-calendar3"></i>
      </span>
      <input type="date"
             name="reservation_date"
             class="form-control"
             value="{{ reservation_date }}"
             required>
    </div>
    <div class="input-group w-auto">
      <span class="input-group-text">
        <i class="bi bi-clock"></i>
      </span>
      <input type="time"
             name="reservation_time"
             value="{{ reservation_time }}"
             class="form-control"
             required>
    </div>
    <div class="input-group w-auto">
      <span class="input-group-text">
        <i class="bi bi-person"></i>
      </span>
      <select name="party_size" class="form-select">
        {% for value, label in guest_choices.items %}
          <option value="{{ value }}"
                  {% if value == selected_party_size %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-danger px-4">Reserve Now!</button>
  </form>
</div>
